
@{
    ViewBag.Title = "AssayTests";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <h1>Test Details</h1>
        <div class="row">
            <div class="col-md-6">
                <h3><em>CustomScreen: </em> Sildenafil Citrate</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        60%
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-2">
                <strong>Test Name</strong>
            </div>
            <div class="col-md-2">
                <strong>Raw Data File</strong>
            </div>
            <div class="col-md-2">
                <strong>Status</strong>
            </div>
            <div class="col-md-2">
                <strong>Action</strong>
            </div>
            <div class="col-md-2">
                <strong>Comments</strong>
            </div>
            <div class="col-md-2">

            </div>

        </div>
        <div class="row">

            <div class="col-md-2">
                Cytotoxicity
            </div>
            <div class="col-md-2">
                <a href="#">View/Upload</a>
            </div>
            <div class="col-md-2">
                <select>
                    <option value="a"><span style="color:grey">Not Started</span></option>
                    <option value="b"><span style="color:orange">In Progress</span></option>
                    <option value="c"><span style="color:green">Complete</span></option>
                </select>
            </div>

            <div class="col-md-2">
                <em>None</em>
            </div>
            <div class="col-md-2">
                <input type="text" name="comment" />
            </div>
            <div class="col-md-2">
                <a href="#">Delete</a>
            </div>
        </div>
        <div class="row">
 
            <div class="col-md-2">
                Carcinogenesis
            </div>
            <div class="col-md-2">
                <a href="#">View/Upload</a>
            </div>
            <div class="col-md-2">
                <select>
                    <option value="a"><span style="color:grey">Not Started</span></option>
                    <option value="b"><span style="color:orange">In Progress</span></option>
                    <option value="c"><span style="color:green">Complete</span></option>
                </select>
            </div>
            <div class="col-md-2">
                <span style="color:orange">Waiting on customer approval</span>
            </div>
            <div class="col-md-2">
                <input type="text" name="comment" />
            </div>
            <div class="col-md-2">
                <a href="#">Delete</a>
            </div>

        </div>

    </div>

