
@{
    ViewBag.Title = "";
}

<!-- This page shows the work orders for the specific customer. by pulling each work order for the specific CustomerID and displaying it to the page-->

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header"><h2>Requested Quotes</h2></div>
            <div class="row">
                <div class="col-md-4">
                    <h3>Company Name: Pfizer</h3>
                </div>
                <div class="col-md-4">
                    <h4>Contact Name: Louis Armstrong</h4>
                </div>
                <div class="col-md-4">
                    <h5>Date Submitted: 12/8/2017</h5>
                </div>

            </div>
            <div class="row">

                <div class="col-md-2">
                    <strong>Compound</strong>
                </div>
                <div class="col-md-2">
                    <strong>Assay</strong>
                </div>
                <div class="col-md-2">
                    <strong>Weight</strong>
                </div>
                <div class="col-md-2">
                    <strong>Estimated Cost</strong>
                </div>
                <div class="col-md-2">
                    <strong>Due Date</strong>
                </div>
                <div class="col-md-2">
                </div>

            </div>
            <div class="row">

                <div class="col-md-2">
                    Sildenafil Citrate
                </div>
                <div class="col-md-2">
                    <em>CustomScreen</em>
                </div>
                <div class="col-md-2">
                    1.2g
                </div>
                <div class="col-md-2">
                    $400
                </div>
                <div class="col-md-2">
                    2/1/2017
                </div>
                <div class="col-md-2">
                    <a href="#">Delete</a>
                </div>

            </div>
            <div class="row">
                <div class="col-md-2">
                    Tadalafil
                </div>
                <div class="col-md-2">
                    <em>DiscoveryScreen</em>
                </div>
                <div class="col-md-2">
                    2.4g
                </div>
                <div class="col-md-2">
                    $450
                </div>
                <div class="col-md-2">
                    2/1/2017
                </div>
                <div class="col-md-2">
                    <a href="#">Delete</a>
                </div>

            </div>

            <br />
            <br />
            <br />
            <br />
            <div class="card">
                <div class="card-header"></div>
                <div class="card-body">
                    <h5 class="card-title">Total Estimated Cost: <span style="color:red">$850</span></h5>
                    <br />
                    <h5>Quoted Price: $ <input type="text" name="quotedprice" size="10"></h5>
                    <br />

                    <a href="#" class="btn btn-success">Send Quote</a>
                </div>
            </div>
        </div>
    </div>
</div>