
@{
    ViewBag.Title = "undone";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h2>Pending further information</h2>
                <p></p>
            </div>
        </div>
    </div>
</div>