
@{
    ViewBag.Title = "";
}

<!-- This page shows the work orders for the specific customer. by pulling each work order for the specific CustomerID and displaying it to the page-->

<div class="content-wrapper">
    <div class="container-fluid">
        <h1>Work Orders</h1>
        <div class="row">
            <div class="col-md-4">
                <h3>Work Order ID: 1</h3>
            </div>
            <div class="col-md-4">
                <h5>Estimated Completion Date: <span style="color:darkgreen">29</span> Days</h5>
            </div>
            <div class="col-md-4">
                <h4>Due Date: <span style="color:red">20</span> Days</h4>
            </div>
             
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70%
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-2">
               <strong>Compound</strong> 
            </div>
            <div class="col-md-2">
                <strong>Assay</strong>
            </div>
            <div class="col-md-2">
                <strong>Test Details</strong>
            </div>
            <div class="col-md-2">
                <strong>Progress</strong>
            </div>
            <div class="col-md-2">
                <strong>Status</strong>
            </div>
            <div class="col-md-2">

            </div>

        </div>
        <div class="row">

            <div class="col-md-2">
                Sildenafil Citrate
            </div>
            <div class="col-md-2">
                <em>CustomScreen</em>
            </div>
            <div class="col-md-2">
                <a href="/Admin/AssayTests">View</a>
            </div>
            <div class="col-md-2">
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        60%
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <a href="#" style="color:red"><i class="fa fa-fw fa-exclamation-triangle"></i></a>
            </div>
            <div class="col-md-2">
                <a href="#">Delete</a>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2">
                Tadalafil
            </div>
            <div class="col-md-2">
                <em>DiscoveryScreen</em>
            </div>
            <div class="col-md-2">
                <a href="#">View</a>
            </div>
            <div class="col-md-2">
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0" aria-valuemax="100" style="width:90%">
                        90%
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <span style="color:orange"> In-Progress </span>
            </div>
            <div class="col-md-2">
                <a href="#">Delete</a>
            </div>

        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-4">
                <h3>Work Order ID: 2</h3>
            </div>
            <div class="col-md-4">
                <h5>Estimated Completion Date: <span style="color:darkgreen">Complete</span> </h5>
            </div>
            <div class="col-md-4">
                <h4>Due Date: <span style="color:red">15</span> Days</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        100%
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-2">
                <strong>Compound</strong>
            </div>
            <div class="col-md-2">
                <strong>Assay</strong>
            </div>
            <div class="col-md-2">
                <strong>Test Details</strong>
            </div>
            <div class="col-md-2">
                <strong>Progress</strong>
            </div>
            <div class="col-md-2">
                <strong>Status</strong>
            </div>
            <div class="col-md-2">

            </div>

        </div>
        <div class="row">

            <div class="col-md-2">
                Hydromorphone
            </div>
            <div class="col-md-2">
                <em>PharmaScreen</em>
            </div>
            <div class="col-md-2">
                <a href="#">View</a>
            </div>
            <div class="col-md-2">
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        100%
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <span style="color:green">Complete</span>
            </div>
            <div class="col-md-2">
                <a href="#">Delete</a>
            </div>

        </div>


    </div>
</div>

