
@{
    ViewBag.Title = "Payment";
}

<!--this shows a payment page kind of a receipt location of to view history of payment and open orders that need to be paid.-->


<div class="content-wrapper">
    <div class="container-fluid">

        <div class="card">
            <div class="card-header">
                <h2>Open Work Orders</h2>
            </div>
            <div class="card-body">
                <table style="width:100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("pay", false)</th>
                            <th>Work Order</th>
                            <th>Assay</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>@Html.CheckBox("pay", false)</th> 
                            <th>1</th>
                            <th> DiscoveryScreen® (DS)</th>
                            <th>$550</th>
                        </tr>
                        <tr>
                            <th>@Html.CheckBox("pay", false)</th>
                            <th>1</th>
                            <th> CustomScreen™ (CS)</th>
                            <th>$950</th>
                        </tr>
                        <tr>
                            <th>@Html.CheckBox("pay", false)</th>
                            <th>2</th>
                            <th> PharmaScreen™ (PS)</th>
                            <th>$1450</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-md pull-right" href="~/CustomerPortal/Pay">Pay For Work Order</a>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">
                <h2>All transactions</h2>
            </div>
            <div class="card-body">
                <table style="width:100%">
                    <thead>
                        <tr>
                            <th>Work Order</th>
                            <th>Charge</th>
                            <th>Payment</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td> DiscoveryScreen® (DS)</td>
                            <td></td>
                            <td>Due: 12/30/17</td>
                            <td class="text-danger">$550</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td> CustomScreen™ (CS)</td>
                            <td></td>
                            <td>Due: 1/30/17</td>
                            <td class="text-danger">$950</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td>Credit Card 9535</td>
                            <td>Paid: 12/2/17</td>
                            <td class="text-success">$950</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td> PharmaScreen™ (PS)</td>
                            <td></td>
                            <td>Due: 1/30/18</td>
                            <td class="text-danger">$1450</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row pull-right"><h2><b>Balance: </b></h2><h2 class="text-danger">$2,000</h2></div>

            </div>
        </div>
    </div>
</div>