
@{
    ViewBag.Title = "About";
}
<div class="content-wrapper">
    <div class="container-fluid">
        <h2>About</h2>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Who We Are?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">What We Do?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Miscellaneous Info</a>
                    </li>
                </ul>
            </div>
            <div class="card-block">
                <h4 class="card-title">NorthWest Labs</h4>
                <p class="card-text">
                    NorthWest Laboratory is a world leading pharmaceutical company, We have our corporate offices in Seattle, Washington USA. 
                    We Specialize in doing assays and tests on chemical compounds. 

                </p>
                <!--<a href="#" class="btn btn-primary"></a>--> <!--I'm not sure we want a button here.......--> 
                <br />
            </div>
        </div>
        <br />
        <br />
        <div class="card">
            <img class="card-img-top" src="~/Content/images/pharma.jpg" alt="Card image cap">
            <div class="card-block">
                <p> Corporate offices - Seattle, WA</p>
            </div>
        </div>
        <br />
        <br />        
        <div class="card">
            <img class="card-img-top" src="~/Content/images/test.jpg" alt="Card image cap">
            <div class="card-block">
                <p> Assay Tests </p>
            </div>
        </div>
    </div>
</div>




