@{
    ViewBag.Title = "Index";
}
<!--Landing Page.... trying to make this look good.-->
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card card-inverse">
            <img class="card-img" src="~/Content/images/logo.jpg" alt="Card image">
            <div class="card-img-overlay">
                @*<h4 class="card-title">NorthWest Labs</h4>*@
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>
</div>